/*******************************************/
/*------------ REMOVE DEFAULTS ------------*/
/*******************************************/
body, h1, h2, h3, p, ul, li, fieldset {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
    border: none;
    line-height: 0;
    outline: none;
}

fieldset {
    border: none;
}

input {
    border: none;
    outline: none;
}

textarea {
    border: none;
}

/*******************************************/
/*------------ GENERAL STYLES -------------*/
/*******************************************/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body, textarea {
  @include fontStyle(1.8rem, $secondary, $bodyFont, normal, normal, normal, normal);
  background-color: $white
}

body {
  // background-color: $secondary;
  background-color: $secondary2;
  // background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  // opacity: 0.5;
   @include forPhone {
      font-size: 1.5rem;
  }
}

input {
  border: 2px solid $accent2;
  border-radius: 2px;
  &:focus {
    border: 2px solid $accentOpaque;
    // -moz-box-shadow:    inset 0 0 10px $accent;
    // -webkit-box-shadow: inset 0 0 10px $accent;
    // box-shadow:         inset 0 0 10px $accent;
  }
}

label {
  text-transform: lowercase;
  color: $primary2;
}

.wrapperMain {
  // max-width: 1280px;
  max-width: 600px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
   @include forPhone {
      width: 100%;
  }
}

.wrapperSideTwo {
  /* max-width: 1080px; */
  // max-width: 800px;
  width: 80%;
  margin: 0 auto;
  @include forPhone {
    width: 90%;
  }
}

.sideOne {
  width: 30%;
  // background-color: pink;
  // get rid of this side for now
  display: none;
}

.sideTwo {
  // width: 70%;
  width: 100%;
  // background-color: $primary;
  background-color: $secondary2;
  // background-image: url("https://www.transparenttextures.com/patterns/connected.png");
}

button {
  cursor: pointer;
  background-color: $primary2;
  height: 30px;
  // text-transform: uppercase;
  font-family: $titleFont;
  // &:focus {
  //   box-shadow: 5px 5px 5px $accent;
  // }
}

// h1 {
//   @include fontStyle(3.5rem, $secondary, $titleFont, normal, normal, normal, 1px)
// }

h1 {
  @include fontStyle(3.5rem, $primary2, $titleFont, normal, normal, normal, 1px)
}

// .headerSignedInPage h1 {
//   @include fontStyle(3.5rem, $secondary, $titleFont, normal, normal, normal, 1px)
// }

// .headerSignedOutPage h1 {
//   @include fontStyle(3.5rem, $white, $titleFont, normal, normal, normal, 1px)
// }

h1, h2, button {
  letter-spacing: 0.2rem;
}

img {
  width: 100%;
	display: block;
}

.lineBreak {
    display: block;
}

body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    // background-color: purple;
}
.css-y1c0xs::-webkit-scrollbar-thumb {
  // background-color: darkgrey;
  background-color: purple;
  outline: 1px solid slategrey;
}

// input placeholder text styles
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: 	#C0C0C0;
  opacity: 1; /* Firefox */
  // font-family: $titleFont;
  text-transform: lowercase;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: 	#A9A9A9;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: 	#A9A9A9;
}

/*******************************************/
/*---------- MAIN SECTION STYLES ----------*/
/*******************************************/
main {
  height: 84vh;
  // background-color: #52bafa;
  position: relative;
  // background-image: url("https://www.transparenttextures.com/patterns/connected.png")
}

main .wrapperSideTwo {
  height: 100%;
}

/* textarea {
  border: 1px solid black;
} */

.content {
  height: 100%;
}

// scroll back to most recent button
// need to go into the source code and change there! (scrollToBottom -> 'react-scroll-to-bottom')
// same thing with changing the scroll bar colors
.css-1qyrjaz {
  background-color: $accent;
}