.messageArea{
  height: 75%;
  // background-color: $secondary;
  // background-color: $primary;
  // background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  @include forPhone {
    height: 70%;
  }
}

.messageListContainer {
  display: flex;
  justify-content: center;
  position: relative;
}
.messageBox {
  /* width: 300px; */
  // width: 90%;
  width: 100%;
  /* height: 200px; */
  // max-width: 600px;
  /* height: 350px; */
  padding: 10px;
  /* background-color: white; */
  // margin: 20px 0;
  /* border: 1px solid black; */
  // overflow: scroll;
  // background-color: #1c1c1c;
  background-color: $white;
  @include forPhone {
    margin: 0;
  }
  // > image {
  //   border-radius: 5px;
  // }
}

.gifImage {
  border-radius: 5px;
  margin-top: 5px;
}

.message {
  /* border: 2px solid blueviolet; */
  // border-radius: 5px;
  border-radius: 10px;
  /* width: fit-content; */
  padding: 20px;
  margin: 20px 10px;
  // color: $white;
  color: $text;
  // width: fit-content;
  width: 40%;
  max-width: 60%;
  /* max-width: 250px; */
  position: relative;
  overflow-wrap: break-word;
}

.userInfo {
  text-align: left;
}

.userName,
.dateAndTime {
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold;
  // color: rgba(245,245,245,0.5)
  // color: $textOpaque;
}

.userName {
  font-family: $titleFont;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 2px;
  left: 8px;
  word-break: break-all;
  line-height: 1;
}

.dateAndTime {
  position: absolute;
  bottom: -20px;
  color: $textOpaque;
  width: max-content;
}

.rightMessage {
  box-shadow: -4px 4px #0595c5;
  &::after {
    content: '';
  position: absolute;
  right: -7px;
  bottom: -10px;
  border: 12px solid $primary2;
  border-left: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: rotate(-135deg);
  }
  &::before {
    content: '';
  position: absolute;
  right: -7px;
  bottom: -15px;
  border: 12px solid #0595c5;
  border-left: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: rotate(-135deg);
  }
}

.leftMessage {
  box-shadow: 4px 4px #94cde0;
  &::after {
    content: '';
  position: absolute;
  left: -7px;
  bottom: -10px;
  border: 12px solid $secondary2;
  border-left: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: rotate(135deg);
  }
  &::before {
    content: '';
  position: absolute;
  left: -7px;
  bottom: -15px;
  border: 12px solid #94cde0;
  border-left: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: rotate(135deg);
  }
}

.rightTimeStamp {
  right: 20px;
}

.leftTimeStamp {
  left: 20px;
}

.messageBox {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: 2px solid $accent2;
}

.currentUserPosition {
  align-self: flex-end;
}

.messageText {
  /* font-weight: bold; */
  margin: 5px 2px;
  font-size: 1.2rem;
  word-break: break-word;
}

.gifContainer {
  /* max-width: 200px; */
}

aside .emoji-picker-react {
  width: 100%;
}

.scrollToBottom {
  // width: 15px;
  // height: 15px;
  position: absolute;
  bottom: 0;
  right: 3px;
  cursor: pointer;
  // color: $white;
  opacity: 0.3;
  font-size: 2.5rem;
  &:hover {
    opacity: 1;
    color: $hover2;
  }
}