/*----------------- NOT SIGNED IN PAGE STYLES --------------------*/
.loginFlexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.notSingedInPage {
  width: 100%;
  /* width: 40%; */
  height: 80%;
  /* height: 500px;
  background-color: dodgerblue; */
  /* background-color: #ececec; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  // margin: 0 auto;
  @include forPhone {
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
  }
}

.notSingedInPage form {
  // width: 48%;
  width: 60%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  position: relative;
  /* align-items: center; */
  /* margin-bottom: 40px; */
  color: $primary2;
  text-transform: lowercase;
  // border: 2px solid $accent2;
  box-shadow: 5px 5px $accent2;
  // background-color: #1c1c1c;
  background-color: $white;
  padding: 20px;
  border-radius: 5px;
  h2 {
    margin-bottom: 10px;
    font-family: $titleFont;
    color: $primary2;
    text-align: center;
  }
  // height: max-content;
  @include forPhone {
    padding: 10px;
    width: 60%;
    height: max-content;
  }
  @include forSmallPhone {
    width: 80%;
  }
}

.notSingedInPage input {
  // font-size: 1.1rem;
  font-size: 1.8rem;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 10px; 
  width: 100%;
  // border: 2px solid $accent2;
  // @include forPhone {
  //     padding: 0;
  // }
}

.notSingedInPage button {
  margin: 0 auto;
  margin-top: 10px;
  height: 30px;
  width: 105px;
  background-color: $primary2;
  color: $white;
  // padding: 5px 20px;
  border-radius: 5px;
  // letter-spacing: 0.2rem;
  &:hover {
  background-color: $hover2;
  }
}

fieldset button {
  margin: 0 auto;
}

.guestButton {
  height: 30px;
  width: max-content;
  padding: 20px;
  background-color: $primary2;
  color: $white;
  padding: 5px 20px;
  border-radius: 5px;
  &:hover {
  background-color: $hover2;
  }
}

.logInButtons {
  // width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  // border: 2px solid $accent2;
  border-radius: 2px;
  button {
    width: 150px;
  }
}

.iconContainerChat {
  color: $white;
  font-size: 18.0rem;
  position: relative;
  transform: rotate(5deg);
  &::before {
    content: 'Hi!';
    position: absolute;
    left: 0;
    color: $textOpaque;
    z-index: 10;
    font-size: 10.0rem;
    transform: rotate(5deg);
    bottom: 63px;
    left: 27px;
  }
}

.signUpPage, .logInPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // form {
  //   margin-bottom: 40px;
  // }
}