// COLOURS
$primary: #52bafa;
$secondary: #1c1c1c;
$secondaryOpaque: rgba(28, 28, 28, 0.5);
$accent: #c732be;
$white: #f5f5f5;
$hover: #771E72;

// FONTS
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
/* font-family: 'Anton', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
$bodyFont: 'Source Sans Pro', sans-serif;
$titleFont: 'Anton', sans-serif;

// FLEX CENTER MIXIN
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// FONT MIXIN
@mixin fontStyle(
    $fontSize, 
    $fontColor,
    $fontFamily,
    $fontStyle,
    $weight, 
    $lineHeight,
    $letterSpacing
    ) {
  font-size: $fontSize;
  color: $fontColor;
  font-family: $fontFamily;
  font-style: $fontStyle;
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

// MEDIA QUERY MIXINS
@mixin forSmallerScreen {
  @media (max-width: 400px) { @content; }
}
@mixin forSmallPhone {
    @media (max-width: 525px) { @content; }
}
@mixin forPhone {
    @media (max-width: 650px) { @content; }
}
@mixin forTablet {
    @media (max-width: 900px) { @content; }
}
@mixin forSmallDesktop {
    @media (max-width: 1200px) { @content; }
}
@mixin forDesktop {
    @media (max-width: 1600px) { @content; }
}
@mixin forBigDesktop {
    @media (min-width: 1601px) { @content; }
}