/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* ----------------- */
/* REMOVE DEFAULTS */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
    border: none;
}

fieldset {
    border: none;
}

input {
    border: none;
}

textarea {
    border: none;
}

/*---------------------- GENERAL STYLES ------------------- */
.wrapper {
  /* max-width: 1080px; */
  max-width: 800px;
  width: 80%;
  /* background-color: peachpuff; */
  margin: 0 auto;
}

/* fonts */
/* font-family: 'Anton', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

button {
  /* background-color: fuchsia; */
  font-size: 1.1rem;
  background-color: #c732be;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 30px;
  width: 105px;
}

h1 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  color: #1c1c1c;
}

/*--------------------- HEADER STYLES ----------------------*/
header {
  /* padding: 20px; */
  /* background-color: #525252; */
  /* background-color: #52bafa; */
  background-color: #1c1c1c;
  /* background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/connected.png"); */
  color: whitesmoke;
  height: 10vh;
}

header .flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.0rem;
}

/*-------------------- MAIN SECTION STYLES ---------------------*/
main {
  height: 84vh;
  /* background-color: #c1e6fa; */
  /* background-color: #525252; */
  background-color: #52bafa;
  /* background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/connected.png")
}

main .wrapper {
  height: 100%;
}

/* textarea {
  border: 1px solid black;
} */

.content {
  height: 100%;
}

/*----------------- NOT SIGNED IN PAGE STYLES --------------------*/
.notSingedInPage {
  /* width: 100%; */
  /* width: 40%; */
  height: 100%;
  /* height: 500px;
  background-color: dodgerblue; */
  /* background-color: #ececec; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.notSingedInPage form {
  width: 40%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-bottom: 40px; */
  color: whitesmoke;
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 5px;
  height: max-content;
}

.notSingedInPage input {
  font-size: 1.1rem;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 10px; 
}

.notSingedInPage button {
  margin: 0 auto;
  margin-top: 10px;
}

fieldset button {
  margin: 0 auto;
}

/*-------------------- SENDMESSAGE STYLES ------------------*/
.sendMessageArea {
  height: 25%;
  /* background-color: #52bafa;
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png"); */

  /* background-color: #52bafa; 
  background-image: url("https://www.transparenttextures.com/patterns/arches.png"); */

background-color: #52bafa;
background-image: url("https://www.transparenttextures.com/patterns/connected.png");

}

.sendMessageArea .flexContainer {
  height: 100%;
}

.sendMessageArea form {
  height: 100%;
}

.fa-laugh {
  font-size: 1.5rem;
  margin-bottom: 10px;
  cursor: pointer;
}


.sendMessageArea form {
  /* background-color: dodgerblue; */
  display: flex;
  /* flex-direction: column; */
  align-items: center; 
  justify-content: center;
  /* padding: 20px; */
}

textarea {
  /* background-color: green; */
  /* max-width: 300px;
  min-width: 300px;
  max-height: 200px;
  min-height: 200px; */
  /* width: 300px; */
  height: 80px;
  /* border: none; */
  margin: 10px;
  font-size: 1.1rem;
  padding: 5px 10px;
}

.emojiPicker {
  position: absolute;
  bottom: 200px;
}

.emojiIcon {
  margin-bottom: 10px;
}

.sendAndEmojiContainer {
  display: flex;
  flex-direction: column;
}

/*--------------------- MESSAGELIST STYLES -------------------*/
.messageArea{
  height: 75%;
  background-color: #1c1c1c;
}

.messageListContainer {
  display: flex;
  justify-content: center;

}
.messageBox {
  /* width: 300px; */
  width: 90%;
  /* height: 200px; */
  max-width: 600px;
  height: 350px;
  background-color: white;
  margin: 20px;
  /* border: 1px solid black; */
  overflow: scroll;
  background-color: #1c1c1c;
}

.message {
  border: 2px solid blueviolet;
  border-radius: 5px;
  width: fit-content;
  padding: 5px 10px;
  margin: 10px;
  color: white;
}

.userInfo {
  text-align: left;
}

.userName,
.dateAndTime {
  font-size: 0.8rem;
  text-align: left;
  font-weight: bold;
  color: rgba(245,245,245,0.5)
}

.messageBox > div {
  display: flex;
  flex-direction: column;
}

.currentUserPosition {
  align-self: flex-end;
}

.messageText {
  /* font-weight: bold; */
  margin: 5px 2px;
  font-size: 1.2rem;
}


/*---------------------- SETTINGS PAGE STYLES --------------------*/
.settings {
  /* z-index: 10; */
  /* width: 300px; */
  /* height: 200px; */
  /* height: 20vh; */
  /* background-color: #ececec; */
  height: 100%;
  background-color: #52bafa;
/* background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png"); */
background-image: url("https://www.transparenttextures.com/patterns/connected.png")
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.settings .flexContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings h2 {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
}

.settings ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  /* margin: 0 auto; */
}

.settings li {
  margin: 10px 0;
}

.settings input {
  margin: 10px 0;
}

.settings form {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* justify-content: flex-start;  */
}

/*---------------------- FOOTER STYLES -----------------------*/
footer {
  height: 6vh;
  background-color: #1c1c1c;
  color: whitesmoke;
  /* text-align: center; */
  /* background-color: #525252;
  color: whitesmoke; */
  /* background-color: #52bafa;
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png"); */
}

footer .flexContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
