/* ----------------- SETUP ------------------*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* REMOVE DEFAULTS */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
    border: none;
}

fieldset {
    border: none;
}

input {
    border: none;
}

textarea {
    border: none;
}

/*---------------------- GENERAL STYLES ------------------- */
.wrapper {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}

/* fonts */
/* font-family: 'Anton', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

button {
  font-size: 1.1rem;
  background-color: #c732be;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 30px;
  width: 105px;
}

h1 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  color: #1c1c1c;
}

/*--------------------- HEADER STYLES ----------------------*/
header {
  height: 10vh;
}

.headerSignedOutPage {
    background-color: #1c1c1c;
    color: whitesmoke;
}

.headerSignedInPage {
  background-color: #52bafa;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  color: #1c1c1c;
}

header .flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.0rem;
}

/*-------------------- MAIN SECTION STYLES ---------------------*/
main {
  height: 84vh;
  background-color: #52bafa;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png")
}

main .wrapper {
  height: 100%;
}


.content {
  height: 100%;
}

/*----------------- NOT SIGNED IN PAGE STYLES --------------------*/
.notSingedInPage {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.notSingedInPage form {
  width: 40%;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 5px;
  height: max-content;
}

.notSingedInPage input {
  font-size: 1.1rem;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 10px; 
}

.notSingedInPage button {
  margin: 0 auto;
  margin-top: 10px;
}

fieldset button {
  margin: 0 auto;
}

/*-------------------- SENDMESSAGE STYLES ------------------*/
.sendMessageArea {
  height: 25%;
  background-color: #52bafa;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
}

.sendMessageArea .flexContainer {
  height: 100%;
}

.sendMessageArea form {
  height: 100%;
}

.fa-laugh {
  font-size: 1.5rem;
  margin-bottom: 10px;
  cursor: pointer;
}


.sendMessageArea form {
  display: flex;
  align-items: center; 
  justify-content: center;
}

textarea {
  max-width: 500px;
  height: 80px;
  margin: 10px;
  font-size: 1.1rem;
  padding: 5px 10px;
}

.emojiPicker {
  position: absolute;
  bottom: 200px;
}

.emojiIcon {
  margin-bottom: 10px;
}

.sendAndEmojiContainer {
  display: flex;
  flex-direction: column;
}

/*--------------------- MESSAGELIST STYLES -------------------*/
.messageArea{
  height: 75%;
  background-color: #1c1c1c;
}

.messageListContainer {
  display: flex;
  justify-content: center;

}
.messageBox {
  max-width: 600px;
  padding: 10px 0;
  background-color: white;
  margin: 20px;
  overflow: scroll;
  background-color: #1c1c1c;
}

.message {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  color: white;
  width: 40%;
  max-width: 250px;
}

.userInfo {
  text-align: left;
}

.userName,
.dateAndTime {
  font-size: 0.8rem;
  text-align: left;
  font-weight: bold;
  color: rgba(245,245,245,0.5)
}

.messageBox > div {
  display: flex;
  flex-direction: column;
}

.currentUserPosition {
  align-self: flex-end;
}

.messageText {
  margin: 5px 2px;
  font-size: 1.2rem;
}

/*---------------------- SETTINGS PAGE STYLES --------------------*/
.settings {
  height: 100%;
  background-color: #52bafa;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
}

.settings .flexContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settingsFormContainer {
  background-color: #1c1c1c;
  color: whitesmoke;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 60%;
  max-width: 300px;
}

.settings h2 {
  text-align: center;
  margin-bottom: 10px;
}

.settings ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.settings li {
  margin: 10px 0;
  width: 100%;
}

.settings input {
  margin: 10px 0;
}

.settings form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid whitesmoke;
  padding: 20px;
  margin-bottom: 10px;
}

.settings button {
  margin: 0 auto;
}

.colorChoices {
  display: flex;
}

.color1,
.color2,
.color3,
.color4,
.color5 {
  width: 30px;
  height: 20px;
}

.color1 {
  background-color: blueviolet;
}

.color2 {
  background-color: #0392cf;
}

.color3 {
  background-color: #7bc043;
}

.color4 {
  background-color: #ee4035;
}

.color5 {
  background-color: #f37736;
}

/*---------------------- FOOTER STYLES -----------------------*/
footer {
  height: 6vh;
  background-color: #1c1c1c;
  color: whitesmoke;
}

footer .flexContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------------- MEDIA QUERIES -----------------------*/

@media (max-width: 600px) {
  .wrapper {
    width: 90%;
  }
  .messageBox {
    margin: 0;
  }
  .sendMessageArea form {
    flex-direction: column;
    justify-content: space-evenly;
  }

  textarea {
    width: 90%;
  }

  .sendAndEmojiContainer {
    flex-direction: row;
  }

  .sendAndEmojiContainer button {
    margin: 0 10px 10px 10px;
  }

  .notSingedInPage {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .notSingedInPage form {
    padding: 10px;
    width: 60%;
  }

  .notSingedInPage input {
    padding: 0;
  }

  footer {
    text-align: center;
  }

}