.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* ----------------- */
/* REMOVE DEFAULTS */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
    border: none;
}

fieldset {
    border: none;
}

input {
    border: none;
}

textarea {
    border: none;
}

/* GENERAL STYLES  */
.wrapper {
  max-width: 1280px;
  width: 80%;
  background-color: peachpuff;
  margin: 0 auto;
}

/* NOT SIGNED IN PAGE STYLES */
.notSingedInPage {
  width: 100%;
  height: 500px;
  background-color: dodgerblue;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset button {
  margin: 0 auto;
}

/* SENDMESSAGE STYLES */
form {
  background-color: dodgerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

textarea {
  /* background-color: green; */
  max-width: 300px;
  min-width: 300px;
  max-height: 200px;
  min-height: 200px;
  margin: 20px
}

/* MESSAGELIST STYLES */
.messageListContainer {
  display: flex;
  justify-content: center;

}
.messageBox {
  width: 300px;
  height: 200px;
  background-color: white;
  margin: 20px;
  border: 1px solid black;
  overflow: scroll;
}

.message {
  border: 2px solid blueviolet;
  width: fit-content;
  padding: 5px 10px;
  margin: 10px;
}

/* SETTINGS PAGE STYLES */
.settings {
  z-index: 10;
  /* width: 300px; */
  /* height: 200px; */
  height: 20vh;
  background-color: grey;
}
